<div class="main-banner">
    <div class="visual-text">
        <h2>
            Play On!
        </h2>
        <p>NCBIT Games</p>
    </div>
    <img src="/assets/images/main/icon-1.png" alt="" class="icon icon-1">
    <img src="/assets/images/main/icon-2.png" alt="" class="icon icon-2">
</div>
<div class="wrapper main">
    <article class="main">
        <ul class="game-main-list row">
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/dice" class="dice">
                        <span>Dice</span>
                        <!-- <img src="/assets/images/main/dice-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/fifty" class="fifty">
                        <span>Fifty</span>
                        <!-- <img src="/assets/images/main/fifty-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/fourteen" class="fourteen">
                        <span>Fourteen</span>
                        <!-- <img src="/assets/images/main/fourteen-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/graph" class="graph">
                        <span>Graph</span>
                        <!-- <img src="/assets/images/main/graph-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/joker" class="joker">
                        <span>Joker</span>
                        <!-- <img src="/assets/images/main/joker-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/mine" class="mine">
                        <span>Mine</span>
                        <!-- <img src="/assets/images/main/mine-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/mining" class="mining">
                        <span>Mining</span>
                        <!-- <img src="/assets/images/main/mining-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/half" class="half">
                        <span>Half</span>
                        <!-- <img src="/assets/images/main/half-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/baccarat" class="baccarat">
                        <span>Baccarat</span>
                        <!-- <img src="/assets/images/main/baccarat-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/ladder" class="ladder">
                        <span>Ladder</span>
                        <!-- <img src="/assets/images/main/ladder-icon.png" alt=""> -->
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/keno" class="keno">
                        <span>Keno</span>
                    </a>
                </div>
            </li>
            <li class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="game-card">
                    <a routerLink="/game/slot" class="slot">
                        <span>Slot</span>
                    </a>
                </div>
            </li>
        </ul>
    </article>
</div>
